body {
    margin: 0 auto;

}

header{
    background-color: rgb(249, 62, 50);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poke-img {
    position: absolute;
    bottom: 5px;
    max-width: 40px;
    right: 5px;

}

#pokemonsohw {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokecard {
    display: flex;
    padding: 5px;
    width: 125px;
    height: 90px;
    border: 1px solid;
    border-radius: 10px;
    margin: 7px;
    box-sizing: border-box;
    position: relative;
}

.pokecard span {
    font-size: 12px;
}

.poke-id {
    font-size: 13px;

}

button{
    background-color: rgb(249, 62, 50);
}

.test{
    background-color: green;
}