body {
    margin: 0 auto;
    background-image: url('/img/DALL·E\ 2024-03-23\ 19.48.53\ -\ Design\ an\ engaging\ background\ for\ a\ Pokédex\ website\,\ incorporating\ elements\ of\ the\ Pokémon\ universe.\ The\ background\ should\ feature\ subtle\ patterns\ or\ .webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: "Jersey 15", sans-serif;
}

.d-none {
    display: none;
}

header {
    background-color: rgb(249, 62, 50);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

h1{
    font-size: 70px;
    color: rgb(255, 204, 1);
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.poke-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 200px;  
    height: 200px;
    
}

.poke-img-card{
    width: 250px;
    height: 250px;
    margin-top: 10px;
}

#pokemonsohw {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokecard {
    display: flex;
    padding: 5px;
    width: 290px;
    height: 450px;
    border-radius: 10px;
    margin: 7px;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.pokecard:hover {
    cursor: pointer;

}

.pokecard:hover img{
    width: 220px;
    height: 220px;
}

.poke-id {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 7px;
    color: rgb(74, 72, 72);
}



.poke-name {
    font-size: 50px;
    color: rgb(56, 49, 49);
}

.poke-type {
    font-size: 30px;
}

.pokemon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

button {
    background-color: rgb(249, 62, 50);
}

.grass {
    background-color: lightgreen;
}

.fire {
    background-color: rgb(251, 73, 73);
}

.water {
    background-color: lightblue;
}

.bug {
    background-color: limegreen;
}

.normal {
    background-color: lightsalmon;
}

.poison {
    background-color: rgb(132, 28, 142)
}

.electric{
    background-color: rgb(247, 247, 61);
}

.ground{
    background-color: rgb(164, 91, 62);
}

.fairy{
    background-color: lightpink;
}

.psychic{
    background-color:lightcoral;
}

.rock{
    background-color: rgb(142, 163, 184);
}

.ghost{
    background-color: rgb(88, 100, 113);
}

.fighting{
    background-color: rgb(177, 127, 108);
}
.bg {
    background-color: rgba(240, 248, 255, 0.378);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.poke-card {
    background-color: aliceblue;
    width: 400px;
    height: 650px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.menu-strip{
    display: flex;
    justify-content: center;
    gap: 70px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 15px -10px;
}

.menu-strip p{
    text-decoration: none;
    font-size: 25px;
    color: rgba(58, 56, 56, 0.772);
    padding: 10px;
}

.menu-strip :hover{
    border-radius: 20px;
    background-color: lightgray;
    cursor: pointer;
}


.pokeimg{
    display: flex;
    justify-content: center;
    align-items: center;

}

.my-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.right-arrow{     
    width: 60px;    
    position: absolute;
    top: 25%;
    right: 10px;
}

.left-arrow{
    width: 60px;    
    position: absolute;
    top: 25%;
    left: 10px;
}

.right-arrow:hover{
    cursor: pointer;
    
}

.left-arrow:hover{
    cursor: pointer;
}

.shadow-background{
    
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}

.border{
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    
}

.info-section{
   
    width: 100%;
    
   
}

#search{
    height: 20px;
    
    
}

#pokemon-info-section{
    margin-top: 40px;
    font-size: 35px;
    padding: 10px;
   
    
}

#pokemon-info-section p{
    
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: rgba(72, 72, 72, 0.337);
    font-family: "Roboto", sans-serif;
}